@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@300&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url('../img/loginbackground.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39,0.6), transparent);
    z-index: 100;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo .logo-img {
    height: 60px; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
}
.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, .active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    transition: .3s ease;
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 500px;
    background: linear-gradient(135deg, #ffafbd, #ffc3a0);
    border-radius: 20px;
    border: 2px solid #fff;
    z-index: 2;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container, .register-container {
    position: absolute;
    width: 100%;
    transition: .5s ease-in-out;
    padding: 20px;
}

.login-container {
    left: 0;
}

.register-container {
    left: 100%;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    text-decoration: underline;
}

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus {
    background: rgba(255, 255, 255, 1);
}

::-webkit-input-placeholder {
    color: #333;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #333;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: white;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: #ff6f61;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: #ff8a76;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #fff;
}

.two label a:hover {
    text-decoration: underline;
}